@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:"Poppins",sans-serif;
background:var(--bg);
color:white;
overflow-x:hidden;
}

.container{
width:min(1300px,92%);
margin:auto;
}

section{
padding:90px 0;
}

img{
display:block;
max-width:100%;
}

a{
text-decoration:none;
color:inherit;
}

button{
border:none;
cursor:pointer;
font-family:inherit;
}